<!--<section class="canvas animated fadeIn" [ngStyle]="{'background-image': 'url(' + bgImg + ')'}">-->
<section class="canvas animated fadeIn">
  <video playsinline autoplay muted loop [poster]="bgImg" id="bgvid">
    <source [src]="bgVid" type="video/mp4">
  </video>
  <div class="landing">
    <div class="branding">
      <h3 class="presentedby"><a class="tptv-red" href="http://tomorrowpictures.tv">Tomorrow Pictures TV</a> presents</h3>
      <img class="logo" [src]="logo.svg" />
    </div>
    <div class="intro">
      <p>
        In a world where women are superior to men, an advertising agency is in its beginning phases as a company. Every action taken is crucial to the companies’ success. The agency specializes in ads that objectify men in order to gain viewership.
      </p>
    </div>
    <fs-subscribe></fs-subscribe>
  </div>
  <footer class="footer">
    <p>
      &copy; 2016 <a href="http://tomorrowpictures.com">Tomorrow Pictures, Inc.</a>
    </p>
  </footer>
</section>
