:host {
  display: flex;
  margin: 50px auto 50px;
  width:400px;
}
input[type="email"] {
  appearance: none;
  color: #fff;
  width:380px;
  height:75px;
  font-size:3em;
  background:transparent;
  border:none;
  border-bottom:solid 4px #fff;
  box-shadow: none;
  text-align:center;
  transition: border-color 0.6s ease;
}

::-webkit-input-placeholder {
  color: rgb(242, 212, 59);
  opacity: 1;
  transition: color 0.5s ease;
}

:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.5s ease;
}


input[type="email"]:focus {
  background:transparent;
  color: #fff;
  outline:none;
  border:none;
  border-bottom:solid 4px rgb(242, 212, 59);
  box-shadow: none;
  transition: border-color 1s ease;
}

input[type="submit"] {
  appearance: none;
  width:380px;
  height:60px;
  font-size:1.65em;
  background:transparent;
  color: #fff;
  border:none;
  text-align:center;
  letter-spacing:0.15em;
  text-transform:uppercase;
  transition: color 0.5s ease;
  outline:none;
  border:none;
}

input[type="submit"]:hover {
  color: #fff;
  cursor:pointer;
  transition: color 0.5s ease;
}

button, .button {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  background-color: #2ba6cb;
  border-color: #2285a1;
  color: #ffffff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 0.8125rem;
  padding-bottom: 0.75rem;
  -webkit-appearance: none;
  border: none;
  font-weight: bold !important; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: rgb(242, 212, 59);
}

button:hover, button:focus, .button:hover, .button:focus {
  color: #ffffff;
}
