/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize';

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Dosis', sans-serif;
  min-height: 100%;
  padding: 0;
}

main,
header,
footer,
article,
section,
aside,
details,
summary {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

article {
  margin-bottom: 1rem;
}

aside {
  margin-bottom: 1rem;
}

section {
  max-width: 100%;
}

footer {
  max-width: 100%;
  text-align: center;
}

hr {
  border-top: .1rem solid #aaa;
  display: block;
  margin-bottom: 1rem;
  width: 100%;

}

a {
  color: rgb(242, 212, 59);
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

button {
  background: transparent;
  border: none;
}

::focus {
  outline: none;
}

::selection {
  background: rgba(200,200,255,.1);
}

.tptv-red {
  color: #c0392b;
}
